.list{
    background-color: rgb(119, 190, 241);
    align-items: center;
}

.list-2{
    background-color: rgb(119, 190, 241);
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}

.list-2 ul {
    background-color: rgb(119, 190, 241);
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}